html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

button {
    margin: 0;
    padding: 0;
}

.selectedButton {
    text-decoration: underline;
}

#filebar {
    display: flex;
    flex: none;
}

#toolbar {
    display: flex;
    flex: none;
}

#fontBold {
    width: 20px;
}

#fontItalics {
    width: 20px;
    font-family: serif;
}

.colorButton {
    display: flex;
}

.colorChipBackground {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    margin: 2px;
    background: url(color_chip_background.svg);
}

.colorChip {
    position: relative;
    left: -3px;
    opacity: 1.0;
    top: 1px;
    border: 0;
    width: 10px;
    height: 10px;
    background-color: #000;
    margin: 2px;
    margin-left: -10px;
}

#fillChip {
    position: relative;
    left: -3px;
    opacity: 0.7;
    top: 1px;
    border: 0;
    width: 10px;
    height: 10px;
    background-color: #0f0;
    margin: 2px;
    margin-left: -10px;
}

.colorPopup {
    background-color: #fff;
    border: 1px solid #999;
}

.colorPopupCell {
    width: 15px;
    height: 15px;
    margin: 1px;
}

.colorPopupCellSelected {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    margin: 0;
}

#naclContainer {
    flex: 1;
    display: flex;
    align-items: stretch;
}

#naclPlugin {
    flex: 1;
}

#clipboardio {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -20px;
    top: -20px;
}
